#navbar {
  text-align: right;
}
.notScrolled {
  position: absolute;
  background-color: transparent;
  top: 5%;
  padding-top: 0px;
  width: 100%;
}
.scrolled {
  position: fixed;
  background-color: #000; 
  opacity: 80%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#navbar a {
  padding: 10px;
  font: 20px "Tahoma";
  text-decoration: none;
}
#navbar a.active {
  border-bottom: 3px solid;
}
.notScrolled a {
  color: #000;
  border-bottom-color: #000;
}
.scrolled a {
  color: #FFF;
  border-bottom-color: #FFF;
}
.margin {
  margin-right: 20px;
}
h1 {
  font: 124px "Impact";
}
h2 {
  font: 18px "Tahoma";
  font-style: italic;
}
p {
  font: 16px "Tahoma";
  line-height: 30px;
}
.alignBottom{
  bottom: 20px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.arrow {
  width: 20px;
  height: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}
