* {
  padding: 0;
  margin: 0;
}
.cover {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.text {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}
.text h1 {
  font: 124px "Impact";
}
.text p{
  font: 18px "Tahoma";
  font-style: italic;
}
#navbar {
  text-align: right;
  padding-right: 20px;
}
.notScrolled {
  position: absolute;
  background-color: transparent;
  top: 5%;
  padding-top: 0px;
  width: 100%;
}
.scrolled {
  position: fixed;
  background-color: #000; 
  opacity: 80%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
a {
  padding: 10px;
  font: 20px "Tahoma";
  text-decoration: none;
}
a.active {
  border-bottom: 3px solid;
}
.notScrolled a {
  color: #000;
  border-bottom-color: #000;
}
.scrolled a {
  color: #FFF;
  border-bottom-color: #FFF;
}
  
