* {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  filter: contrast(50%) brightness(150%);
  background-image: url("https://cf.ltkcdn.net/garden/images/orig/239642-1600x1067-looking-up-at-coconut-palm.jpg");
  background-attachment: fixed;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.text {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}
.button {
  padding: 20px;
  font: 16px "Tahoma";
  background-color: #099;
  border-radius: 2px;
  text-decoration: none;
  color: #FFF;
}
