* {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  filter: contrast(50%) brightness(150%);
  background-image: url("https://lp-cms-production.imgix.net/2019-06/48425906.jpg");
  background-attachment: fixed;
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 400px) {
  .row {
    padding: 30px;
  }
  h3 {
    font: bold 35px "Tahoma";
  }
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .row {
    padding: 50px;
  }
  h3 {
    font: bold 40px "Tahoma";
  }
}
@media only screen and (min-width: 451px) {
  .row {
    padding: 80px;
  }
   h3 {
    font: bold 45px "Tahoma";
  }
}
@media only screen and (max-width: 800px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .goal1, .goal2, .goal3 {
    height: 100vw;
  }
}
@media only screen and (min-width: 801px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .description {
    padding-right:80px;
  }
  .goal1, .goal2, .goal3 {
    height: 30vw;
  }
}
.column {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
}
.row {
  align-items: center;
}
.goal1 {
  background: linear-gradient(0.25turn, #080, #038);
}
.goal2 {
  background: linear-gradient(0.25turn, #5AB, #038);
}
.goal3 {
  background: linear-gradient(0.25turn, #529, #038);
}
.goal1, .goal2, .goal3 {
  color: white;
  text-decoration: none;
  font: 16px "Tahoma";
}
.goal1:hover, .goal2:hover, .goal3:hover {
  filter: brightness(130%);
}
