* {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  filter: contrast(50%) brightness(150%);
  background-image: url("https://lp-cms-production.imgix.net/2019-06/48425906.jpg");
  background-attachment: fixed;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.circle {
  height: 280px;
  width: 260px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #0008;
  color: #FFF;
  transform: rotate(350deg);
  font: 16px "Tahoma";
  padding: 10px;
}
@media only screen and (max-width: 400px) {
  row {
    padding: 20px;
}
@media only screen and (min-width: 401px) {
  row {
    padding: 80px;
}
