* {
  padding: 0;
  margin: 0;
}
.header {
  position: relative;
  filter: contrast(50%) brightness(150%);
  background-image: url("https://lp-cms-production.imgix.net/2019-06/48425906.jpg");
  background-attachment: fixed;
  height: 70%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.text {
  position: absolute;
  width: 100%;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;
}
.circle {
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #0008;
  color: #FFF;
  transform: rotate(350deg);
}
