@media only screen and (max-width: 400px) {
  h1 {
    font: 100px 'Caveat', cursive;
  }
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
  h1 {
    font: 140px 'Caveat', cursive;
  }
}
@media only screen and (min-width: 501px) {
  h1 {
    font: 180px 'Caveat', cursive;
  }
}
h2 {
  font: 18px "Tahoma";
  font-style: italic;
}
p {
  font: 16px "Tahoma";
  line-height: 30px;
}
small {
  font: 14px "Tahoma";
  line-height: 30px;
  color: #FFF;
}
#scroll{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}
