@media only screen and (max-width: 400px) {
  h1 {
    font: 100px 'Caveat', cursive;
    line-height: 110px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
  h1 {
    font: 140px 'Caveat', cursive;
    line-height: 150px;
  }
}
@media only screen and (min-width: 501px) {
  h1 {
    font: 180px 'Caveat', cursive;
    line-height: 190px;
  }
}
h2 {
  font: 18px "Tahoma";
  font-style: italic;
}
p {
  font: 16px "Tahoma";
  line-height: 30px;
  padding: 15px;
}
