* {
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 401px) and (max-width: 760px) {
  .goalTitle {
    font: 80px 'Caveat', cursive;
    line-height: 80px;
  }
  .goalTitleS {
    font: 70px 'Caveat', cursive;
    line-height: 60px;
  }
}
@media only screen and (min-width: 761px) {
  .goalTitle {
    font: 120px 'Caveat', cursive;
    line-height: 90px;
  }
  .goalTitleS {
    font: 100px 'Caveat', cursive;
    line-height: 70px;
  }
}
@media only screen and (max-width: 400px), (max-height: 400px) {
  .goalTitleS, .goalTitle {
    font: 50px 'Caveat', cursive;
    line-height: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .explanation {
    padding: 30px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .explanation {
    padding: 50px;
  }
}
@media only screen and (min-width: 451px) {
  .explanation {
    padding: 80px;
  }
}
.titleBar1 {
  position: relative;
  background: linear-gradient(0.25turn, #080, #038);
  height: 50vh; 
}
.titleBar2 {
  position: relative;
  background: linear-gradient(0.25turn, #5AB, #038);
  height: 50vh; 
}
.titleBar3 {
  position: relative;
  background: linear-gradient(0.25turn, #529, #038);
  height: 50vh; 
}
.goalTitleS, .goalTitle {
  position: absolute;
  width: 100%;
  top: 25%;
  transform: translateY(-50%);
  -ms transform: translateY(-50%);
  text-align: center;
  color: white;
}
.button {
    padding: 10px;
    font: 18px "Tahoma";
    border-radius: 5px;
    border: 3px solid white;
    text-decoration: none;
    color: #FFF;
}
