* {
  padding: 0;
  margin: 0;
}
.cover {
  position: relative;
  background-image: url("background.png");
  background-attachment: fixed;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.white {
  color: #FFF
}

.white a {
  color: #FFF
}

