* {
  padding: 0;
  margin: 0;
}
@media (min-aspect-ratio: 10/9) {
  .cover {
    position: relative;
    background-image: url("background.png");
    background-attachment: fixed;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 10/9) {
  .cover {
    position: relative;
    background-image: url("backgroundS.png");
    background-attachment: fixed;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
@media (max-aspect-ratio: 3/4) {
  .cover {
    position: relative;
    background-image: url("backgroundXS.png");
    background-attachment: fixed;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
h1 {
  color: white;
  text-shadow: 5px 5px 8px black;
}
h2 {
  color: white;
  text-shadow: 2px 2px 5px black;
}
