* {
  padding: 0;
  margin: 0;
}
@media (min-aspect-ratio: 10/9) {
  .cover {
    position: relative;
    background-image: url("background.png");
    background-attachment: fixed;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 10/9) {
  .cover {
    position: relative;
    background-image: url("backgroundS.png");
    background-attachment: fixed;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
@media (max-aspect-ratio: 3/4) {
  .cover {
    position: relative;
    background-image: url("backgroundXS.png");
    background-attachment: fixed;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font: 100px 'Caveat', cursive;
  }
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
  h1 {
    font: 140px 'Caveat', cursive;
  }
}
@media only screen and (min-width: 501px) {
  h1 {
    font: 180px 'Caveat', cursive;
  }
}
text {
  position: absolute;
  top: calc(calc(100vh - 82px) / 2);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
h2 {
  font: 18px "Tahoma";
  font-style: italic;
}
p {
  font: 16px "Tahoma";
  line-height: 30px;
  padding: 15px;
}
small {
  font: 14px "Tahoma";
  line-height: 30px;
  color: #FFF;
}
#scroll{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}
#static {
  position: absolute;
  top: 0;
}
